name: Maui CI

on:
    push:
        branches:
            - main
            - bugfix/jwks-parsing
    pull_request:
        branches:
            - main
            - bugfix/jwks-parsing

env:
    BUILD_CONFIG: 'Release'
    SOLUTION: 'src/WalletFramework.sln'
    IS_PULL_REQUEST: ${{ github.event_name == 'pull_request' }}
    IS_MAIN_BRANCH: ${{ github.ref == 'refs/heads/main' }}

jobs:
    build:
        
        runs-on: ubuntu-22.04
        
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
        
            - name: Set Version
              run: |
                sudo apt-get update && sudo apt-get install -y libxml2-utils
                VERSION=$(xmllint --xpath "string(/Project/PropertyGroup/Version)" Directory.Build.props)
                if $IS_MAIN_BRANCH; then
                  COMMIT_COUNT=$(git log --oneline | wc -l)
                  SUFFIX="-rc.$COMMIT_COUNT"
                elif $IS_PULL_REQUEST; then
                  COMMIT_COUNT=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/commits?per_page=100" | jq length)
                  SUFFIX="-pr.${{ github.event.pull_request.number }}.$COMMIT_COUNT"
                fi
                echo "APP_VERSION=$VERSION$SUFFIX" >> $GITHUB_ENV

            - name: Setup .NET
              uses: actions/setup-dotnet@v3
              with:
                  global-json-file: global.json

#            - name: Install libindy library
#              run: |
#                sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys CE7709D068DB5E88
#                sudo add-apt-repository "deb https://repo.sovrin.org/sdk/deb bionic stable"
#                sudo apt-get update \
#                  apt-get install -y libindy
                  
            - name: Restore dependencies
              run: dotnet restore $SOLUTION
                    
            - name: Build
              run: dotnet build $SOLUTION --configuration $BUILD_CONFIG -p:Version=2.0.0-pr.303.0

            - name: Run tests
              run: |
                dotnet test test/WalletFramework.Oid4Vc.Tests --configuration $BUILD_CONFIG --no-restore --no-build
                dotnet test test/WalletFramework.SdJwtVc.Tests --configuration $BUILD_CONFIG --no-restore --no-build

            - name: Pack WalletFramework
              run: dotnet pack $SOLUTION --configuration $BUILD_CONFIG -p:Version=2.0.0-pr.303.0 --no-build --output .

            - name: Publish
              run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}}
